@tailwind base;
@tailwind components;

@font-face {
  font-family: "Pretendard_ExtraBold";
  src: url("../public/fonts/Pretendard-ExtraBold.otf");
}

@font-face {
  font-family: "Pretendard_Bold";
  src: url("../public/fonts/Pretendard-Bold.otf");
}

@font-face {
  font-family: "Pretendard_Thin";
  src: url("../public/fonts/Pretendard-Thin.otf");
}

@font-face {
  font-family: "Pretendard_Light";
  src: url("../public/fonts/Pretendard-Light.otf");
}
@tailwind utilities;

@layer base {
  h1 {
    @apply font-Pretendard_ExtraBold text-8xl;
  }
  h3 {
    @apply font-Pretendard_Bold text-lg;
  }
}

@layer components {
  .navbarBtn {
    @apply text-white border-2 border-white border-opacity-0 hover:translate-y-1 transition-all hover:cursor-pointer tracking-wider;
  }
}
